<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="./style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Pokemon</h1>
    <% for(let i=0; i<pokemonList.length; i++) { %>
        <p><a href="pokemon/<%= i %>"><%= pokemonList[i].name %></a></p>
    <% } %>
</body>
</html> 